In [ ]:
Collection of heterogenous objects in key and value pair.

In [ ]:
1. Keys should not duplicated but values can be duplicated.
2. Insertion order is not preserved.
3. We can access the element by using index

In [19]:
d={}
type(d)

dict

In [20]:
d1=dict()
type(d1)

dict

In [21]:
d={100:"Tanuja",200:"Chava"}
print(d)

{100: 'Tanuja', 200: 'Chava'}

In [22]:
d[100]

'Tanuja'

In [23]:
d[0]

KeyError: 0

In [24]:
d[100]="Balayya"
print(d)

{100: 'Balayya', 200: 'Chava'}

In [66]:
#write a pgm to enter name and percentage of the student marks and also display the data
record={}
n=int(input("Enter number of students:"))
i=1
while i<=n:
    name=input("Enter student name:")
    marks=input("Enter marks of student:")
    record[name]=marks
    i=i+1
print("Name of the student","\t","% of marks")
for x in record:
    print("\t",x,"\t\t",record[x])

Enter number of students:3
Enter student name:Tanuja
Enter marks of student:85%
Enter student name:Venky
Enter marks of student:99%
Enter student name:Divya
Enter marks of student:98%
Name of the student 	 % of marks
	 Tanuja 		 85%
	 Venky 		 99%
	 Divya 		 98%

In [67]:
print(record)

{'Tanuja': '85%', 'Venky': '99%', 'Divya': '98%'}

In [68]:
del record["Divya"]

In [69]:
record

{'Tanuja': '85%', 'Venky': '99%'}

In [70]:
record.clear()

In [71]:
record

{}

In [72]:
del record

In [73]:
record

NameError: name 'record' is not defined

In [25]:
d={100:"Tanuja",200:"Chava",300:"Venky"}
print(d[100])

Tanuja

In [26]:
print(d[400])

KeyError: 400

## get()

get() fntn can be used to not get key error when unknown value is given.

In [27]:
print(d.get(400))

None

In [28]:
print(d.get(100,"Guest"))
print(d.get(400,"Guest"))

Tanuja
Guest

## pop()

In [29]:
d={100:"Tanuja",200:"Venky",300:"Divya"}
print(d.pop(300))

Divya

In [30]:
d

{100: 'Tanuja', 200: 'Venky'}

In [31]:
print(d.pop(300))

KeyError: 300

In [34]:
print(d.pop())

TypeError: pop expected at least 1 argument, got 0

## popitem()

In [32]:
d={100:"Sai",200:"Bharath",300:"Srinu"}
print(d.popitem())

(300, 'Srinu')

In [33]:
d

{100: 'Sai', 200: 'Bharath'}

In [35]:
d={100:"Sai",200:"Bharath",300:"Srinu"}
print(d.popitem())

(300, 'Srinu')

In [36]:
print(d.popitem())

(200, 'Bharath')

In [37]:
print(d.popitem())

(100, 'Sai')

In [40]:
d

{}

In [41]:
print(d.popitem())

KeyError: 'popitem(): dictionary is empty'

## keys()

To get the keys in the dictionary

In [42]:
d={100:"Tanuja",200:"Hima",300:"Sirisha"}
print(d.keys())

dict_keys([100, 200, 300])

## values()

In [43]:
d={100:"Tanuja",200:"Hima",300:"Sirisha"}
print(d.values())

dict_values(['Tanuja', 'Hima', 'Sirisha'])

## items()

In [44]:
d={100:"Tanuja",200:"Hima",300:"Sirisha"}
print(d.items())

dict_items([(100, 'Tanuja'), (200, 'Hima'), (300, 'Sirisha')])

## copy()

In [45]:
d={100:"Tanuja",200:"Hima",300:"Sirisha"}
d1=d.copy()

In [46]:
d1

{100: 'Tanuja', 200: 'Hima', 300: 'Sirisha'}

In [47]:
d1[100]="Venky"

In [48]:
d

{100: 'Tanuja', 200: 'Hima', 300: 'Sirisha'}

In [49]:
d1

{100: 'Venky', 200: 'Hima', 300: 'Sirisha'}

In [51]:
print(id(d))
print(id(d1))

2359818549504
2359818547584

In [53]:
d1=d

In [54]:
d1

{100: 'Venky', 200: 'Hima', 300: 'Sirisha'}

In [55]:
d

{100: 'Venky', 200: 'Hima', 300: 'Sirisha'}

In [56]:
d1[100]="Tanuja"

In [57]:
d

{100: 'Tanuja', 200: 'Hima', 300: 'Sirisha'}

In [58]:
print(id(d))
print(id(d1))

2359818547584
2359818547584

## setdefault(key,value)

For unknown values we use this fntn

In [59]:
d={100:"Tanu",200:"Venky",300:"Harika"}
print(d.setdefault(400,"Balayya"))
print(d)

Balayya
{100: 'Tanu', 200: 'Venky', 300: 'Harika', 400: 'Balayya'}

In [60]:
print(d.setdefault(100,"Tanuja"))
print(d)

Tanu
{100: 'Tanu', 200: 'Venky', 300: 'Harika', 400: 'Balayya'}

## update()

In [62]:
d1={100:"Tanuja",200:"Chava"}
d2={300:"Hima",400:"Sirisha"}
print(d1+d2)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [63]:
d1={100:"Tanuja",200:"Chava"}
d2={300:"Hima",400:"Sirisha"}
print(d1.update(d2))

None

In [64]:
d1

{100: 'Tanuja', 200: 'Chava', 300: 'Hima', 400: 'Sirisha'}

In [65]:
d2

{300: 'Hima', 400: 'Sirisha'}